*.o
*.pdf
.project
print_frontend
pickle_test
.vscode/
.gdb_history
.cproject
gmon.out
autom4te.cache
missing
Makefile1
Makefile.in
install-sh
configure
autoscan.log
aclocal.m4
compile
cpdb/backend-interface.c
cpdb/backend-interface.h
cpdb/frontend-interface.c
cpdb/frontend-interface.h
cpdb/*.so
cpdb/*.o
cpdb/*.la
cpdb/*.lo
ltmain.sh
Makefile
ar-lib
config.*
depcomp
cpdb/.deps
libtool
cpdb/.libs
*.pc
*.tar.*
cpd-library*
