*~
*.o
*.pc
*.pdf
*.tar.*
.project
.vscode/
.gdb_history
.cproject
gmon.out
autoscan.log
aclocal.m4
autom4te.cache
build-aux/
m4/*
!m4/cpdb*
ABOUT-NLS
po/*
!po/POTFILE.in
!po/Makevars
config.*
configure
libtool
Makefile
Makefile.in
ar-lib
compile
depcomp
install-sh
ltmain.sh
missing
tmp
tmp.
cpdb/backend-interface.c
cpdb/backend-interface.h
cpdb/frontend-interface.c
cpdb/frontend-interface.h
cpdb/*.so
cpdb/*.o
cpdb/*.la
cpdb/*.lo
cpdb/.deps
cpdb/.libs
tools/cpdb-text-frontend
tools/cpdb-pickle-print
tools/gmon.out
tools/*.o
tools/.deps
tools/.libs
tools/*.log
tools/*.trs
cpd-library*
