*.o
*.pc
*.pdf
*.tar.*
.project
.vscode/
.gdb_history
.cproject
gmon.out
autoscan.log
aclocal.m4
autom4te.cache
build-aux/
m4/*
!m4/cpdb*
po/*
!po/POTFILE.in
!po/Makevars
config.*
configure
libtool
Makefile
Makefile.in
cpdb/backend-interface.c
cpdb/backend-interface.h
cpdb/frontend-interface.c
cpdb/frontend-interface.h
cpdb/*.so
cpdb/*.o
cpdb/*.la
cpdb/*.lo
cpdb/.deps
cpdb/.libs
demo/print_frontend
demo/pickle_test
cpd-library*
